#{set 'moreScripts'}
  #{script 'coffee/AdminEntryPoint.coffee' /}
  #{script 'coffee/AdminLayers.coffee' /}
  #{script 'coffee/Admin.coffee' /}
  #{script 'coffee/AdminAddSource.coffee' /}
  #{script 'coffee/AdminUpload.coffee' /}
  #{script 'coffee/AdminSettings.coffee' /}
#{/set}
#{set 'moreStyles'}
  #{stylesheet 'less/admin.less' /}
#{/set}
#{set 'moreModals'}
    #{adminModals /}
#{/set}

#{extends 'layout.html' /}

<div id="app_content" class="ui-layout-center">#{openLayersMap /}</div>
<div class="ui-layout-west">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-primary pull-right" href="@{Admin.logout()}">&{'app.admin.logoutButton'}</a>
        <ul id="tab-bar" class="nav">
          <li class="active"><a href="#layers" data-toggle="tab">&{'app.admin.layers'}</a></li>
          <li><a href="#locations" data-toggle="tab">&{'app.admin.locations'}</a></li>
          <li><a href="#settings" data-toggle="tab">&{'app.admin.settings'}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-content ui-layout-content">
    <div class="tab-pane active" id="layers">
      <div id="app_layers">
        #{layersSwitcher sources:sources, admin: 1 /}
      </div>
    </div>
    <div class="tab-pane" id="locations">
      #{adminLocations locations:locations /}
    </div>
    <div class="tab-pane" id="settings">
      #{adminSettings /}
    </div>
  </div>
</div>

<script type="text/javascript">

#{list sources, as:'source'}
 #{if models.MapSourceCollection.getInstance().canBeUsed(source)}
  #{list source.webMapServices, as:'service'}
   #{if models.MapServiceCollection.getInstance().canBeUsed(service)}
    #{list service.layers, as: 'layer'}
     #{if layer.canBeUsed}

    PORTAL.Layers.list.push({
      index: "${source.id}-${service.id}-${layer.id}",
      sourceName: "${source.name}",
      sourceDisplayName: "${source.displayName}",
      serviceName: "${service.name}",
      serviceDisplayName: "${service.displayName}",
      serviceUrl: "${service.url}",
      serviceType: "${service.serviceType.name}",
      name: "${layer.name}",
      displayName: "${layer.displayName}",
      defaultVisible: ${layer.defaultVisible},
      additionalOptions: "${layer.additionalOptions}"
    });

     #{/if}
    #{/list}
   #{/if}
  #{/list}
 #{/if}
#{/list}

    PORTAL.locations = [];

#{list locations, as:'country'}
  PORTAL.locations.push({
    displayName: "${country.displayName}",
    coordinateX: ${country.xCoordinate},
    coordinateY: ${country.yCoordinate},
    zoomLevel: ${country.zoomLevel},
    cssClass: "country"
  });
  #{list country.children, as:'voivodeship'}
    PORTAL.locations.push({
      displayName: "${voivodeship.displayName}",
      coordinateX: ${voivodeship.xCoordinate},
      coordinateY: ${voivodeship.yCoordinate},
      zoomLevel: ${voivodeship.zoomLevel},
      cssClass: "voivodeship"
    });
  #{/list}
#{/list}

</script>
