#{set 'moreScripts'}
    #{script 'coffee/Admin.coffee' /}
    #{script 'coffee/ApplicationLayout.coffee' /}
    #{script 'coffee/EventHandlers.coffee' /}
    #{script 'coffee/MapUtils.coffee' /}
#{/set}
#{set 'moreModals'}
    #{adminModals /}
#{/set}

#{extends 'layout.html' /}

<div class="ui-layout-center">
    <a href="@{Admin.logout}" class="btn btn-primary pull-right">&{'app.admin.logoutButton'}</a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#layers" data-toggle="tab">&{'app.admin.layers'}</a></li>
        <li><a href="#locations" data-toggle="tab">&{'app.admin.locations'}</a></li>
        <li><a href="#owner" data-toggle="tab">&{'app.admin.owner'}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="layers">
            #{adminLayers sources:sources /}
        </div>
        <div class="tab-pane" id="locations">
            #{adminLocations /}
        </div>
        <div class="tab-pane" id="owner">
            #{adminOwner /}
        </div>
    </div>
</div>
