<!DOCTYPE html>
<html lang="pl">
<head>
  <title>&{"app.name"}</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  #{stylesheets /}
  #{script 'jquery-1.7.2.min.js' /}
  #{script 'bootstrap.js' /}
</head>
<body style="background-color: #282828; overflow: hidden; background-image: none">
<div class="alert alert-block alert-success fade in">
  <a class="close" data-dismiss="alert" href="#">×</a>
  &{"app.admin.uploadSuccess"}
</div>
<img src="${arms.getPath().substring(1)}" class="hide result" data-title="${title}" data-arms="${armsUse}">
</body>
</html>
