#locations {
  button {
    margin-right: 6px;
    margin-bottom: 3px;
  }

  label, h3, h4, h5 {
    display: inline;
    cursor: pointer;
  }

  .tier1, tier2 {
    h3,h4 {
      display: inline-block;
    }
  }

  i {
    cursor: pointer;
  }
}