#layers {
  .service-add, #adminAddSourceButton {
    margin-bottom: 12px;
  }
}

#locations {
  button {
    margin-right: 6px;
    margin-bottom: 3px;
  }

  .addLocation {
     margin-bottom: 12px;
  }

  label, h3, h4, h5 {
    display: inline;
    cursor: pointer;
  }

  .tier1, tier2 {
    h3,h4 {
      display: inline-block;
    }
  }

  i {
    cursor: pointer;
  }
}

#settings {
  .tier1_content {
    display: none;
  }

  h3, h4, h5 {
    display: inline;
    cursor: pointer;
  }
}