#app_layers {
  .tier2 {
    margin-left: 30px;
    display: none;
  }
  .tier3 {
    margin-left: 30px;
    display:none;
  }
  input {
    margin-right: 5px;
  }
  label, h3, h4, h5 {
    display: inline;
    cursor: pointer;
  }
  i {
    cursor: pointer;
  }
}