@import "utils/_colors.less";

#app_layers {
  .tier1 {
    margin-bottom: 12px;
  }

  .tier1_header {
    padding-left: 6px;
  }

  .tier3 {
    margin-left: 36px;
    margin-top: 6px;
  }

  label, h3, h4, h5 {
    display: inline;
    cursor: pointer;
  }

  h3 {
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }

  i {
    cursor: pointer;
  }

  input[type="checkbox"] {
    background-color: @textColor;
    margin-right: 6px;
  }
  input[type="checkbox"].state-middle {
    opacity: 0.5;
  }


  span.btn {
    margin-right: 6px;
  }

  .layer-details {
    display: none;
    margin-left: 6px;
    span {
      padding: 0 5px;
    }
  }

  .tier1_content, .tier2_content {
    display: none;
  }
}

#addWmsTier1Content {
  div.tier2:last-of-type {
    margin-bottom: 12px;
  }
}

#addWmsModal {
  i {
    cursor: pointer;
  }
  #addWmsLayerFailure {
    margin-top: 32px;
  }
  #addWmsLayerNames {
    div {
      width: 300px;
      margin-top: 6px;
      button {
        position: absolute;
        left: 356px;
      }
    }
  }
}

.tier1_header, .tier2_header, .tier3_header, .tier3_content{
  line-height: 25px;
  padding: 0 5px;

  * {
    vertical-align: middle
  }

  &:hover {
    background: rgb(54, 54, 54); /* The Fallback */
    background: rgba(255, 255, 255, 0.2);
  }
}