<div class="tier1">
  <div class="tier1_header clearfix">
    <i class="icon-plus icon-white"></i>
    <h3>&{"app.admin.passwordHeader"}</h3>
  </div>
  <div class="tier1_content well">
    <form autocomplete="off">
      <label>&{"app.admin.oldPassword"}</label>
      <input id="oldPassword" type="password"/>
      <label>&{"app.admin.newPassword"}</label>
      <input id="newPassword" type="password"/>
      <label>&{"app.admin.confirmPassword"}</label>
      <input id="confirmPassword" type="password"/>
      <div>
        <div class="alert alert-block hide">
          <a class="close" href="#">&times;</a>
          <span></span>
        </div>
        <button id="savePassword" class="btn btn-primary" type="button" data-loading-text="&{"app.admin.saveButtonLoading"}">&{"app.admin.saveButton"}</button>
      </div>
    </form>
  </div>
</div>
<div class="tier1">
  <div class="tier1_header clearfix">
    <i class="icon-plus icon-white"></i>
    <h3>&{"app.admin.mapHeader"}</h3>
  </div>
  <div class="tier1_content well">
    <div class="tier2">
      <div class="tier2_header clearfix">
        <h4>&{"app.admin.initialMapCoordinates"}</h4>
        <div class="pull-right">
          <i class="initial-showlocation icon-white icon-arrow-right"></i>
          <i class="initial-setlocation icon-white icon-globe"></i>
        </div>
      </div>
    </div>
    <div class="tier2">
      <div class="tier2_header clearfix">
        <h4>&{"app.admin.boundingbox"}</h4>
        <div class="pull-right">
          <i class="boundingbox-set icon-white icon-pencil"></i>
        </div>
      </div>
    </div>
    <div class="tier2">
      <div class="tier2_header clearfix">
        <h4>&{"app.admin.resolutions"}</h4>
        <div class="pull-right">
          <i class="resolutions-set icon-white icon-screenshot"></i>
        </div>
      </div>
    </div>
    <div class="tier2">
      <div class="tier2_header clearfix">
        <h4>&{"app.admin.arms"}</h4>
        <div class="pull-right">
          <i class="arms-set icon-white icon-pencil"></i>
        </div>
      </div>
    </div>
  </div>
</div>