<div class="modal fade" id="adminLogin">
    <div class="modal-header">
        <h3>&{"app.admin.modalHeader"}</h3>
    </div>
    <div class="modal-body">
        #{if flash.contains('admin.error')}
        <div class="alert alert-error">
            ${flash.get('admin.error')}
        </div>
        #{/if}
        <form action="@{Admin.authenticate()}" method="post">
            <label>&{"app.admin.username"}:</label>
            <input id="adminLoginUsername" type="text" name="username" />
            <label>&{"app.admin.password"}:</label>
            <input id="adminLoginPassword" type="password" name="password" />
            <div>
                <input class="btn btn-primary" type="submit" value="&{"app.admin.loginButton"}" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>

<div class="modal fade" id="adminAddGroup">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>&{"app.admin.addGroup"}</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>&{"app.admin.groupName"}</label>
            <input id="addGroupName" type="text" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="addGroupButton" class="btn btn-primary">&{"app.admin.addGroupButton"}</a>
    </div>
</div>

<div class="modal fade" id="adminEditLayer">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>&{"app.admin.editLayer"}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
</div>