<div class="modal fade hide" id="adminLogin">
    <div class="modal-header">
        <h3>&{"app.admin.modalHeader"}</h3>
    </div>
    <div class="modal-body">
        #{if flash.contains('admin.error')}
        <div class="alert alert-error">
            ${flash.get('admin.error')}
        </div>
        #{/if}
        <form action="@{Admin.authenticate()}" method="post">
            <label>&{"app.admin.password"}:</label>
            <input id="adminLoginPassword" type="password" name="password" />
            <div>
                <input class="btn btn-primary" type="submit" value="&{"app.admin.loginButton"}" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>

<div class="modal fade hide" id="adminAddSourceModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>&{"app.admin.addSource"}</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>&{"app.admin.sourceName"}</label>
            <input id="adminAddSourceModalName" type="text" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">&{"app.admin.addSourceButton"}</a>
    </div>
</div>

<div class="modal fade hide" id="adminEditModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>&{"app.admin.edit"}</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>&{"app.admin.name"}</label>
            <input id="adminEditName" type="text" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">&{"app.admin.saveButton"}</a>
    </div>
</div>

<div class="modal fade hide" id="adminAddLocationModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.admin.addLocation"}</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>&{"app.admin.locationName"}</label>
      <input id="adminAddLocationModalName" type="text" />
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.admin.addLocationButton"}</a>
  </div>
</div>

<div class="modal fade hide" id="adminUploadModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.admin.uploadModal"}</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="/admin/uploadArms" target="postframe" enctype="multipart/form-data">
      <label>&{"app.admin.uploadModalFile"}</label>
      <input id="uploadFile" name="uploadFile" type="file" />
      <label></label>
      <input class="btn btn-primary" type="submit" value="&{"app.admin.uploadModalSend"}"/>
      <input class="hide" type="reset">
    </form>
    <img class="spinner" src="@{'/public/images/spinner.gif'}" alt=""/>
    <div class="alert alert-block alert-error hide">
      <a class="close" href="#">&times;</a>
      <h4 class="alert-heading">Błąd komunikacji</h4>
      <span></span>
    </div>
    <div class="alert alert-block alert-success hide">
      <a class="close" href="#">&times;</a>
      <h4 class="alert-heading">&{"app.admin.uploadSuccess"}</h4>
    </div>
    <iframe class="hide" id="postframe" name="postframe" src="about:blank"></iframe>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.admin.uploadModalConfirm"}</a>
  </div>
</div>
<div class="modal fade hide" id="adminArmsModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.admin.armsModal"}</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="/admin/uploadOwnerArms" target="armspostframe" enctype="multipart/form-data">
      <label>&{"app.admin.armsUse"}</label>
      <input id="armsUse" name="armsUse" type="checkbox" />
      <label>&{"app.admin.armsAppTitle"}</label>
      <input id="appTitle" name="appTitle" type="text" />
      <label>&{"app.admin.armsModalFile"}</label>
      <input id="armsFile" name="armsFile" type="file" />
      <label></label>
      <input class="btn btn-primary" type="submit" value="&{"app.admin.armsModalSend"}"/>
      <input class="hide" type="reset">
    </form>
    <img class="spinner" src="@{'/public/images/spinner.gif'}" alt=""/>
    <div class="alert alert-block alert-error hide">
      <a class="close" href="#">&times;</a>
      <h4 class="alert-heading">Błąd komunikacji</h4>
      <span></span>
    </div>
    <div class="alert alert-block alert-success hide">
      <a class="close" href="#">&times;</a>
      <h4 class="alert-heading">&{"app.admin.uploadSuccess"}</h4>
    </div>
    <iframe class="hide" id="armspostframe" name="armspostframe" src="about:blank"></iframe>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.admin.armsModalConfirm"}</a>
  </div>
</div>
<div class="modal fade hide" id="adminBBoxModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.admin.boundingBoxModal"}</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="/admin/uploadOwnerArms" target="armspostframe" enctype="multipart/form-data">
      <label>&{"app.admin.boundingBoxLeft"}</label>
      <input id="boundingBoxLeft" name="boundingBoxLeft" type="number" />
      <label>&{"app.admin.boundingBoxTop"}</label>
      <input id="boundingBoxTop" name="boundingBoxTop" type="number" />
      <label>&{"app.admin.boundingBoxRight"}</label>
      <input id="boundingBoxRight" name="boundingBoxRight" type="number" />
      <label>&{"app.admin.boundingBoxBottom"}</label>
      <input id="boundingBoxBottom" name="boundingBoxBottom" type="number" />
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.admin.boundingBoxModalConfirm"}</a>
  </div>
</div>
<div class="modal fade hide" id="adminResolutionsModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.admin.resolutionsModal"}</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>&{"app.admin.resolutions"}</label>
      <input id="resolutions" name="resolutions" type="text"/>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.admin.resolutionsModalConfirm"}</a>
  </div>
</div>