var PORTAL = {}
PORTAL.configurationSettings = {
  useArms: ${play.mvc.Scope.RenderArgs.current().useArms},
  appOwner: "${play.mvc.Scope.RenderArgs.current().appOwner}",
  mapBoundingLeft: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxLeft},
  mapBoundingBottom: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxBottom},
  mapBoundingRight: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxRight},
  mapBoundingTop: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxTop},
  mapResolutions: ${play.mvc.Scope.RenderArgs.current().mapResolutions},
  mapInitialX: ${play.mvc.Scope.RenderArgs.current().mapInitialX},
  mapInitialY: ${play.mvc.Scope.RenderArgs.current().mapInitialY},
  mapInitialZ: ${play.mvc.Scope.RenderArgs.current().mapInitialZ},
  urlSlashReplacement: "${play.mvc.Scope.RenderArgs.current().urlSlashReplacement}",
  systhermSourceId: ${play.mvc.Scope.RenderArgs.current().systhermSourceId},
  systhermServiceId: ${play.mvc.Scope.RenderArgs.current().systhermServiceId},
  systhermLayerId: ${play.mvc.Scope.RenderArgs.current().systhermLayerId}
}

PORTAL.messages = {
  historyPrev: "&{"app.controller.historyPrev"}",
  historyNext: "&{"app.controller.historyNext"}",
  zoomToExtent: "&{"app.controller.zoomToExtent"}",
  zoomIn: "&{"app.controller.zoomIn"}",
  saveUrl: "&{"app.controller.saveUrl"}",
  goToLocation: "&{"app.controller.goToLocation"}",
  remove: "&{"app.tooltips.remove"}",
  edit: "&{"app.tooltips.edit"}",
  view: "&{"app.tooltips.view"}",
  layerDefaultVisible: "&{"app.tooltips.layerDefaultVisible"}",
  setLocation: "&{"app.tooltips.setLocation"}",
  setArms: "&{"app.tooltips.setArms"}"
}
