<script type="text/javascript">#{javascriptConfigurationSettings /}</script>
#{script 'jquery-1.7.2.min.js' /}
#{script 'jquery-ui-1.8.20.custom.min.js' /}
#{script 'jquery.layout-latest.js' /}
#{script 'bootstrap.js' /}
#{script 'OpenLayers-2.11/OpenLayers.js' /}
#{script 'OpenLayers-2.11/proj4js-combined.js' /}
#{script 'OpenLayers-2.11/lib/OpenLayers/Lang/pl.js' /}
#{script 'OpenLayers-2.11/modules/AppUtils.js' /}
#{script 'OpenLayers-2.11/lib/OpenLayers/Layer/ArsGeoportal.js' /}
#{script 'coffee/EventHandlers.coffee' /}
#{script 'coffee/MapUtils.coffee' /}
#{script 'coffee/MapHandler.coffee' /}
#{script 'coffee/MapControllers.coffee' /}
#{script 'coffee/ApplicationLayout.coffee' /}
#{script 'coffee/CommonLayers.coffee' /}
#{script 'coffee/MapLocations.coffee' /}
#{script 'coffee/Tooltips.coffee' /}
#{get 'moreScripts' /}
