var PORTAL = {}
PORTAL.configurationSettings = {
  mapBoundingLeft: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxLeft},
  mapBoundingBottom: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxBottom},
  mapBoundingRight: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxRight},
  mapBoundingTop: ${play.mvc.Scope.RenderArgs.current().mapBoundingBoxTop},
  mapResolutions: ${play.mvc.Scope.RenderArgs.current().mapResolutions},
  mapInitialX: ${play.mvc.Scope.RenderArgs.current().mapInitialX},
  mapInitialY: ${play.mvc.Scope.RenderArgs.current().mapInitialY},
  mapInitialZ: ${play.mvc.Scope.RenderArgs.current().mapInitialZ},
  urlSlashReplacement: "${play.mvc.Scope.RenderArgs.current().urlSlashReplacement}",
}

PORTAL.messages = {
  zoomToExtent: "&{"app.controller.zoomToExtent"}",
  zoomIn: "&{"app.controller.zoomIn"}",
  zoomOut: "&{"app.controller.zoomOut"}",
  saveUrl: "&{"app.controller.saveUrl"}",
  goToLocation: "&{"app.controller.goToLocation"}",
}
