#{if _admin}
<button id="adminAddSourceButton" class="btn" type="button" data-toggle="modal" data-target="#adminAddSourceModal">&{"app.admin.addSource"}</button>
#{/if}
#{else}
<div class="tier1">
  <div class="tier1_header">
    <i class="icon-plus icon-white"></i>
    <input id="toggler-0" type="checkbox" class="source-toggler" />
    <h3>&{"app.ownWms.sourceName"}</h3>
  </div>
  <div id="addWmsTier1Content" class="tier1_content well">
    <button class="service-add btn" type="button" data-id="0">&{"app.ownWms.addButton"}</button>
  </div>
</div>
#{/else}

#{list _sources, as:'source'}
#{if _admin || models.MapSourceCollection.getInstance().canBeUsed(source)}
<div class="tier1">

  <div class="tier1_header clearfix">
    <i class="icon-plus icon-white"></i>
    <input id="toggler-${source.id}" type="checkbox" class="source-toggler" />
    <h3>${source.displayName}</h3>
    #{if _admin}
    <div class="pull-right">
      <i class="source-edit icon-white icon-pencil" data-id="${source.id}" ></i>
      <i class="source-remove icon-white icon-remove" data-id="${source.id}"></i>
    </div>
    #{/if}
  </div>

  <div class="tier1_content well">
  #{if _admin}
    <button class="service-add btn" type="button" data-id="${source.id}">&{"app.admin.addWMS"}</button>
  #{/if}
  #{list source.webMapServices, as:'service'}
  #{if _admin || models.MapServiceCollection.getInstance().canBeUsed(service)}

    <div class="tier2">
      <div class="tier2_header clearfix">
        <i class="icon-plus icon-white"></i>
        <input id="toggler-${source.id}-${service.id}" type="checkbox" class="wms-toggler" />
        #{if service.coatOfArms}
        <a href="#" class="service-showlocation" data-id="${service.id}" data-location="${service.xCoordinate}|${service.yCoordinate}|${service.zoomLevel}"><img src="/public/images/arms/${service.coatOfArms}"></a>
        #{/if}
        #{else}
        <a href="#" class="service-showlocation" data-id="${service.id}" data-location="${service.xCoordinate}|${service.yCoordinate}|${service.zoomLevel}"><img src="/public/images/arms_default.png"></a>
        #{/else}
        </a>
        <h4>${service.displayName}</h4>
        #{if _admin}
        <div class="pull-right">
          <i class="service-setarms icon-white icon-bookmark" data-id="${service.id}"></i>
          <i class="service-setlocation icon-white icon-globe" data-id="${service.id}"></i>
          <i class="service-edit icon-white icon-pencil" data-id="${service.id}"></i>
          <i class="service-remove icon-white icon-remove" data-id="${service.id}"></i>
        </div>
        #{/if}
      </div>

      <div class="tier2_content">
      #{list service.layers, as: 'layer'}
      #{if _admin || layer.canBeUsed}
        <div class="tier3">
          <div class="tier3_content clearfix">
            <input id="toggler-${source.id}-${service.id}-${layer.id}" type="checkbox" class="layer-toggler" />
            <label for="toggler-${source.id}-${service.id}-${layer.id}">${layer.displayName}</label>
            #{if _admin}
            <div class="pull-right">
              <i class="layer-default ${layer.defaultVisible ? 'icon-white' : ''} icon-eye-open" data-id="${layer.id}"></i>
              <i class="layer-edit icon-white icon-pencil" data-id="${layer.id}" ></i>
              <i class="layer-remove icon-white icon-remove" data-id="${layer.id}" ></i>
            </div>
            #{/if}
          </div>
         </div>
      #{/if}
      #{/list}
      </div>

    </div>

  #{/if}
  #{/list}
  </div>

</div>
#{/if}
#{/list}
