<div class="modal fade hide" id="addWmsModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.ownWms.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>&{"app.ownWms.serviceName"}</label>
      <input id="addWmsModalVisibleName" type="text" placeholder="&{"app.ownWms.visibleName"}" />
      <label>&{"app.ownWms.serviceAddress"}</label>
      <input id="addWmsModalUrl" type="text" placeholder="&{"app.ownWms.serviceURL"}" />
      <div><button id="addWmsModalLoadLayers" class="btn" type="button">&{"app.ownWms.loadLayers"}</button></div>
      <section id="addWmsLayerNames"></section>
      <div id="addWmsLayerFailure" class="alert alert-error">&{"app.ownWms.loadLayersFailure"}</div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.ownWms.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="getUrlModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.getUrl.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <input type="text" />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.getUrl.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="goToLocation">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.goToLocation.modalHeader"}</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.goToLocation.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="help">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.help.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <p>
      Geo-Info 6 GIPortal jest aplikacją służącą do prezentacji danych uzyskanych poprzez usługi WMS. Wykorzystując
      najnowsze technologie informatyczne, zadanie to realizowane jest w przeglądarkach internetowych.
    </p>
    <p>
      Dostępne warstwy podzielone są na źródła danych i serwery WMS. Po kliknięciu dowolnej grupy nastąpi jej rozwinięcie.
      Aby wybrać warstwę do wyświetlenia, trzeba zaznaczyć ją ptaszkiem. Zaznaczenie przy grupie spowoduje włączenie wszystkich
      warstw. Na poziomie serwerów WMS można także kliknąć na ikonę z herbem - wówczas mapa zostanie przesunięta do
      ustawionego dla danego serwera położenia. Poszczególne grupy czy warstwy można przeciągać i w ten sposób zmieniać
      kolejność ich wyświetlania.
    </p>
    <p>
      Istnieje także możliwość dodania własnych serwerów WMS. W tym celu należy rozwinąć grupę "Własne usługi WMS",
      następnie nacisnąć przycisk "Nowa usługa WMS" i w nowym oknie wpisać adres URL usługi. Z wyświetlonej listy warstw
      należy wybrać te, które powinny być wyświetlone.
    </p>
    <p>
      Nawigację na mapie można wykonywać przy pomocy myszki, chwytając mapę i przesuwając ją w wybranym kierunku, zaś
      rolką zmieniając skalę. Ten sam efekt można uzyskać przy pomocy przycisków w lewym górnym rogu mapy. Dostępny
      jest także zestaw przycisków w prawym górnym rogu, które pozwalają na: powrót do poprzedniego widoku, przejście
      do następnego widoku, pokazanie całej mapy w największym oddaleniu, przybliżenie do wybranego obszaru zaznaczonego
      prostokątem przy pomocy myszki, przejście do wybranego położenia, zapisanie odnośnika do aktualnego położenia oraz
      wyświetlenie pomocy programu.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.help.modalConfirm"}</a>
  </div>
</div>
