<div class="modal fade" id="addWmsModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.ownWms.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>&{"app.ownWms.serviceName"}</label>
      <input id="addWmsModalVisibleName" type="text" placeholder="&{"app.ownWms.visibleName"}" />
      <label>&{"app.ownWms.serviceAddress"}</label>
      <input id="addWmsModalUrl" type="text" placeholder="&{"app.ownWms.serviceURL"}" />
      <label>&{"app.ownWms.layers"}</label>
      <section id="addWmsLayerNames">
        <div><input class="own-layer-name" type="text" placeholder="&{"app.ownWms.layerName"}" /></div>
      </section>
      <div><button class="btn" type="button">&{"app.ownWms.nextLayer"}</button></div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.ownWms.modalConfirm"}</a>
  </div>
</div>
