<div class="modal fade hide" id="addWmsModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.ownWms.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>&{"app.ownWms.serviceName"}</label>
      <input id="addWmsModalVisibleName" type="text" placeholder="&{"app.ownWms.visibleName"}" />
      <label>&{"app.ownWms.serviceAddress"}</label>
      <input id="addWmsModalUrl" type="text" placeholder="&{"app.ownWms.serviceURL"}" />
      <div><button id="addWmsModalLoadLayers" class="btn" type="button">&{"app.ownWms.loadLayers"}</button></div>
      <section id="addWmsLayerNames"></section>
      <div id="addWmsLayerFailure" class="alert alert-error">&{"app.ownWms.loadLayersFailure"}</div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.ownWms.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="getUrlModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.getUrl.modalHeader"}</h3>
  </div>
  <div class="modal-body">
    <input type="text" />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.getUrl.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="goToLocation">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.goToLocation.modalHeader"}</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.goToLocation.modalConfirm"}</a>
  </div>
</div>

<div class="modal fade hide" id="help">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>&{"app.help.modalHeader"}</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">&{"app.help.modalConfirm"}</a>
  </div>
</div>
