<div id="map" class="well">
  <div id="open_layers_map">
    <div id="open_layers_buttons" class="btn-group">
      <button id="open_layers_button_extent" class="btn"><i class="icon-fullscreen"></i></button>
      <button id="open_layers_button_zoom_in" class="btn"><i class="icon-search"></i></button>
      <button id="open_layers_button_go_to_location" class="btn" data-toggle="modal" data-target="#goToLocation"><i class="icon-globe"></i></button>
      <button id="open_layers_button_save_url" class="btn" data-toggle="modal" data-target="#getUrlModal"><i class="icon-share"></i></button>
    </div>
  </div>
  <div id="open_layers_status">
    <span id="open_layers_status_scale"></span>
    <span id="open_layers_status_coords_map"></span>
    <span id="open_layers_status_coords_lonlat"></span>
    <span id="open_layers_status_scaleline"></span>
    </div>
</div>

