#{if play.mvc.Scope.RenderArgs.current().useArms}
<p id="app_title">${play.mvc.Scope.RenderArgs.current().appOwner}</p>
<img class="name" src="@{'/public/images/app_logo.png'}" alt="&{'app.name'}" />
<img id="app_arms" class="arms" src="@{'/public/images/app_arms.png'}" alt="${play.mvc.Scope.RenderArgs.current().appOwner}" />
#{/if}
#{else}
<p id="app_title">&{"app.owner"}</p>
<img class="name" src="@{'/public/images/app_logo.png'}" alt="&{'app.name'}" />
<img id="app_arms" class="arms hide"/>
#{/else}
