#{extends 'layout.html' /}

<div id="app_content" class="ui-layout-center">#{openLayersMap /}</div>
<div id="app_layers" class="ui-layout-west">#{layersSwitcher sources:sources /}</div>

<script type="text/javascript">

    PORTAL.layers = [];

#{list sources, as:'source'}
 #{if models.MapSourceCollection.getInstance().canBeUsed(source)}
  #{list source.webMapServices, as:'wms'}
   #{if models.MapWMSCollection.getInstance().canBeUsed(wms)}
    #{list wms.layers, as: 'layer'}
     #{if layer.canBeUsed}

    PORTAL.layers.push({
      index: "${source.id}-${wms.id}-${layer.id}",
      sourceName: "${source.name}",
      sourceDisplayName: "${source.displayName}",
      serviceName: "${wms.name}",
      serviceDisplayName: "${wms.displayName}",
      serviceUrl: "${wms.url}",
      name: "${layer.name}",
      displayName: "${layer.displayName}",
      defaultVisible: ${layer.defaultVisible}
    });

     #{/if}
    #{/list}
   #{/if}
  #{/list}
 #{/if}
#{/list}
</script>
