#{set 'moreScripts'}
    #{script 'OpenLayers-2.11/OpenLayers.js' /}
    #{script 'OpenLayers-2.11/proj4js-combined.js' /}
    #{script 'OpenLayers-2.11/lib/OpenLayers/Lang/pl.js' /}
    #{script 'OpenLayers-2.11/modules/AppUtils.js' /}
    #{script 'OpenLayers-2.11/lib/OpenLayers/Layer/ArsGeoportal.js' /}
    #{script 'coffee/ApplicationEntryPoint.coffee' /}
    #{script 'coffee/EventHandlers.coffee' /}
    #{script 'coffee/MapUtils.coffee' /}
    #{script 'coffee/MapHandler.coffee' /}
    #{script 'coffee/MapControllers.coffee' /}
    #{script 'coffee/ApplicationLayout.coffee' /}
    #{script 'coffee/CommonLayers.coffee' /}
    #{script 'coffee/OwnLayers.coffee' /}
    #{script 'coffee/MapLocations.coffee' /}
#{/set}
#{set 'moreStyles'}
    #{stylesheet 'less/map.less' /}
    #{stylesheet 'less/layers.less' /}
#{/set}


#{extends 'layout.html' /}

<div id="app_content" class="ui-layout-center">#{openLayersMap /}</div>
<div id="app_layers" class="ui-layout-west">#{layersSwitcher sources:sources /}</div>

<script type="text/javascript">

#{list sources, as:'source'}
 #{if models.MapSourceCollection.getInstance().canBeUsed(source)}
  #{list source.webMapServices, as:'service'}
   #{if models.MapServiceCollection.getInstance().canBeUsed(service)}
    #{list service.layers, as: 'layer'}
     #{if layer.canBeUsed}

    PORTAL.Layers.list.push({
      index: "${source.id}-${service.id}-${layer.id}",
      sourceName: "${source.name}",
      sourceDisplayName: "${source.displayName}",
      serviceName: "${service.name}",
      serviceDisplayName: "${service.displayName}",
      serviceUrl: "${service.url}",
      serviceType: "${service.serviceType.name}",
      name: "${layer.name}",
      displayName: "${layer.displayName}",
      defaultVisible: ${layer.defaultVisible},
      additionalOptions: "${layer.additionalOptions}"
    });

     #{/if}
    #{/list}
   #{/if}
  #{/list}
 #{/if}
#{/list}

  PORTAL.locations = [];

#{list locations, as:'country'}
  PORTAL.locations.push({
    displayName: "${country.displayName}",
    coordinateX: ${country.xCoordinate},
    coordinateY: ${country.yCoordinate},
    zoomLevel: ${country.zoomLevel},
    cssClass: "country"
  });
  #{list country.children, as:'voivodeship'}
    PORTAL.locations.push({
      displayName: "${voivodeship.displayName}",
      coordinateX: ${voivodeship.xCoordinate},
      coordinateY: ${voivodeship.yCoordinate},
      zoomLevel: ${voivodeship.zoomLevel},
      cssClass: "voivodeship"
  });
  #{/list}
#{/list}

</script>
