@(sources: List[MapSource])
<div id="app_content" class="ui-layout-center">@openLayersMap()</div>
<div id="app_layers" class="ui-layout-east">@layersSwitcher(sources)</div>
<script type="text/javascript">
  window.layers = new Array();
  @for(source <- sources) {
    @if(MapSourceCollection.getInstance().canBeUsed(source)) {
      @for(wms <- source.webMapServices) {
        @if(MapWMSCollection.getInstance().canBeUsed(wms)) {
          @for(layer <- wms.layers) {
            @if(layer.canBeUsed) {
              var newLayer = new Object();
              newLayer.index = "@source.id-@wms.id-@layer.id";
              newLayer.sourceName = "@source.name";
              newLayer.sourceDisplayName = "@source.displayName";
              newLayer.serviceName = "@wms.name";
              newLayer.serviceDisplayName = "@wms.displayName";
              newLayer.serviceUrl = "@wms.url";
              newLayer.name = "@layer.name";
              newLayer.displayName = "@layer.displayName";
              newLayer.defaultVisible = @layer.defaultVisible;
              window.layers.push(newLayer);
            }
          }
        }
      }
    }
  }
</script>
