@(sources: List[MapSource])
<div id="app_content" class="ui-layout-center">@openLayersMap()</div>
<div id="app_layers" class="ui-layout-east">@layersSwitcher(sources)</div>
<script type="text/javascript">
  window.layers = new Array();
  @for(source <- sources) {
    @for(wms <- source.webMapServices) {
      @for(layer <- wms.layers) {
        var newLayer = new Object();
        newLayer.index = "@source.id-@wms.id-@layer.id";
        newLayer.sourceName = "@source.name";
        newLayer.serviceName = "@wms.name";
        newLayer.serviceUrl = "@wms.url";
        newLayer.name = "@layer.name";
        newLayer.visibleName = "@layer.visibleName";
        window.layers.push(newLayer);
      }
    }
  }
</script>
