@(sources: List[MapSource])

@for(source <- sources) {
<div class="well">
  <h3 data-toggle="collapse" data-target="#wms_owner_@source.name">@source.name</h3>
  <div id="wms_owner_@source.name" class="collapse">
    @for(wms <- source.webMapServices) {
    <div>
      <button class="btn btn-primary" data-toggle="button">@wms.name</button>
      @for(layer <- wms.layers) {
      <button id="toggler-@source.id-@wms.id-@layer.id" class="btn layer-toggler">@layer.visibleName</button>
      }
    </div>
    }
  </div>
</div>
}
