@()
<button class="btn" data-toggle="collapse" data-target="#wms_owner_1">WMS Owner No. 1</button>
<div id="wms_owner_1" class="collapse">
  <table>
    <tbody>
      <tr>
        <td><button class="btn">WMS Source No. 1</button></td>
        <td>
          <button class="btn">Layer No. 1</button>
          <button class="btn">Layer No. 2</button>
          <button class="btn">Layer No. 3</button>
        </td>
      </tr>
      <tr>
        <td><button class="btn">WMS Source No. 2</button></td>
        <td>
          <button class="btn">Layer No. 4</button>
          <button class="btn">Layer No. 5</button>
          <button class="btn">Layer No. 6</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn" data-toggle="collapse" data-target="#wms_owner_2">WMS Owner No. 2</button>
<div id="wms_owner_2" class="collapse">
  <table>
    <tbody>
    <tr>
      <td><button class="btn">WMS Source No. 3</button></td>
      <td>
        <button class="btn">Layer No. 7</button>
        <button class="btn">Layer No. 8</button>
        <button class="btn">Layer No. 9</button>
      </td>
    </tr>
    <tr>
      <td><button class="btn">WMS Source No. 4</button></td>
      <td>
        <button class="btn">Layer No. 10</button>
        <button class="btn">Layer No. 11</button>
        <button class="btn">Layer No. 12</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
