@()
<div class="ui-helper-reset ui-helper-clearfix ui-widget ui-widget-content ui-corner-all">
  <h3 class="ui-accordion-header ui-helper-reset ui-state-active ui-corner-all" data-toggle="collapse" data-target="#wms_owner_1">WMS Owner No. 1</h3>
  <div id="wms_owner_1" class="collapse">
    <div>
      <button class="btn btn-primary" data-toggle="button">WMS Source No. 1</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 1</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 2</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 3</button>
    </div>
    <div>
      <button class="btn btn-primary" data-toggle="button">WMS Source No. 2</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 4</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 5</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 6</button>
    </div>
  </div>
</div>

<div class="ui-helper-reset ui-helper-clearfix ui-widget ui-widget-content ui-corner-all">
  <h3 class="ui-accordion-header ui-helper-reset ui-state-active ui-corner-all" data-toggle="collapse" data-target="#wms_owner_2">WMS Owner No. 2</h3>
  <div id="wms_owner_2" class="collapse">
    <div>
      <button class="btn btn-primary" data-toggle="button">WMS Source No. 1</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 1</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 2</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 3</button>
    </div>
    <div>
      <button class="btn btn-primary" data-toggle="button">WMS Source No. 2</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 4</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 5</button>
      <button class="btn btn-info" data-toggle="button">Layer No. 6</button>
    </div>
  </div>
</div>
